#portfolio {
    height:100vh;
}

.portfolio__container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    height: 80%;
}

.portfolio__item {
    display: flex;
    flex-direction: column;
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    height: 100%;
    max-width: 33%;
    box-sizing: border-box;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-img {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 60%;
}

img {
    width: 100%;
    height: 100%;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.tech {
    display: flex;
}

.tech__item {
    margin: 0 1rem 1rem 0;
}


/* ======== MEDIA QUERIES (MEDIUM DEVICES) ======== */

@media screen and (max-width: 1024px) {
 
   
}
   
   /* ======== MEDIA QUERIES (SMALL DEVICES) ======== */
   
   @media screen and (max-width: 600px) {
   
      
}