header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 80%;
    position: relative;
}

/* CTA STYLING */

.cta {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* HEADERSOCIALS STYLING */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

/*creates the little line below the social links*/
.header__socials::after {
    content: '';
    width: 3px;
    height: 2rem;
    background: var(--color-primary);
}

/*MAIN IMAGE*/

.me {
    margin-top: 3rem;
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    border-radius: 5rem;
    top: 11rem;
}

/*jump to contact style*/

.jump__contact {
    position: flex;
    top: 75%;
    left: calc(50% - 4rem);
}

/* ======== MEDIA QUERIES (MEDIUM DEVICES) ======== */

@media screen and (max-width: 1024px) {
    header {
        height: 100vh
    }

}

/* ======== MEDIA QUERIES (SMALL DEVICES) ======== */

@media screen and (max-width: 600px) {
    header {
        height: 100vh
    }

    .header__socials {
        display: flex;
        flex-direction: row;
        position: absolute;
        align-items: center;
        left: calc(50% - 3rem);
    }

    .header__socials::after {
        content: '';
        width: 3px;
        height: 2rem;
        background: var(--color-bg);
    }
}
